/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background-image: linear-gradient( 248.1deg, rgba(255,200,69,0.9) -0.1%, rgba(48,195,158,0.9) 100.5% ), url("/app-background.jpg");
    background-size: cover;
    background-repeat: repeat;
}